:root {
  --primary-color: #ffc107; /* Żółty kolor główny strony */
  --background-color: #fff; /* Kolor tła strony */
  --text-color: #555; /* Kolor tekstu strony */
}
/* Resetowanie domyślnych styli */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styl dla całej strony */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
  overflow-y: scroll; /* Dodanie możliwości przewijania w dół */
}

/* Nagłówek */
#header {
  background-color: #111;
  padding: 50px;
  text-align: center;
}

#header h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Nawigacja */
.nav {
  background-color: #000;
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
  margin-right: 30px;
}

.nav ul li a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #ffd700;
}

/* Zawartość */
#content {
  padding: 50px;
  background-color: #222;
  margin: 50px;
  text-align: center;
}

#content h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffd700;
}

#content h2 {
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Stopka */
#footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#footer p {
  font-size: 18px;
}

/* Style dla sekcji z korzyściami */
.benefits-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit {
  width: 300px;
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  color: var(--text-color);
}

.benefit h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.benefit p {
  font-size: 16px;
  line-height: 1.4;
  color: inherit;
}

@media screen and (max-width: 480px) {
  .benefit {
    width: 100%;
    margin: 10px 0;
  }
}
