body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
  text-align: center;
  margin: auto;
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  flex-direction: row;
}
li{
  padding: 15px;
}
li a{
  font-size: 150%;
  text-decoration: none;
}